@use "./conf.scss" as *;
@use "./func.scss" as *;
@use "sass:string";

@mixin namespace($namespace) {
  $N: $namespace !global;
  @if feature-exists('at-root-without-rule') {
    @if content-exists() {
      @at-root {
        .#{$N} {
          @content;
        }
      }
    }
  } @else {
    // 兼容旧版本 Sass
    @if content-exists() {
      @at-root {
        .#{$N} {
          @content;
        }
      }
    }
  }
}
// BEM block
@mixin block($block) {
  $B: $block !global;
  .#{bem($block)} {
    // 调用 bem 函数生成 "namespace+block-separator+block"
    @content;
  }
}
// BEM element
@mixin element($element) {
  @each $ele in $element {
    $E: $ele !global;
    @at-root {
      & .#{$bem($B, $ele)} {
        @content;
      }
    }
  }
}
// BEM modifier
@mixin modifier($modifier) {
  @each $mod in $modifier {
      @at-root {
          &#{'--' + $mod} {
              @content;
          }
      }
  }
}
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
@mixin scrollBar {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    @media screen and (max-width: 1600px) {
      width: 8px;
    }
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
  &:hover::-webkit-scrollbar-thumb {
    display: block;
  }
}

@mixin backdrop {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: "Microsoft YaHei";
  }
  i {
    font-style: normal;
  }
  ul,
  li {
    list-style: none;
  }
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}